.nav-top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  visibility: hidden;
}

.icon-search, .icon-menu {
  margin-right: 5px;
}

.icon-menu, .icon-close {
  cursor: pointer;
}

.search-area {
  border-bottom: 1px solid black;
  padding-block: 10px;
}

.search-area input, .search-area input:focus {
  border: none;
}

.search-area input:focus-visible {
  outline: none;
}

.product-img{
  transition: 0.3s ease;
}

.product-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ProductDetail Page */
.detail-img{
  display: flex;
  justify-content: flex-end;
}

.detail-info div, .select-size {
margin-bottom: 15px;
}

.side-menu {
  position: fixed;
  background: #f5ede5;
  height: 100%;
  width: 250px;
  z-index: 999;
  top: 0;
  left:0;
}

.icon-close {
  float: right;
  padding: 10px;
}

.side-menu-list {
  margin: 20px;
  padding: 0px;
  li {
    list-style: none;
    padding: 5px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

/* media-query */
@media (max-width: 860px) {
  .menu-area {
    justify-content: flex-end;
    margin-inline: 10px;
  }
  .menu-button {
    visibility: visible;
  }
  .menu-list {
    display: none;
  }
}